img:hover{
    transition: transform 2.0s ease-in-out;
    transform: scale(2.2);
}


.container1
{
    width: 98%;
    margin: 20px;
}
.btn {
    border-radius: 12px;
    padding: 8px 16px;
    border: none;
    background-color: blue;
    color: white;
  }